name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        check-latest: true
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'
    - name: npm 8
      run: npm i -g npm@8 --registry=https://registry.npmjs.org
    - name: install dependencies
      run: npm ci
    - name: build, and test the package
      run: |
        npm run build
        npm test
      env:
        CI: true
